*{
    margin:0px;
    font-family: Montserrat;
    font-style:normal;
}




.large-header {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
 }
 
 .demo .large-header {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
 }
 
 .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
 }
 
 .demo .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
 }
 
 .main-title .thin {
    font-weight: 200;
 }
 
 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }

.top-section{
    width: 100%;
    height: 50vh;
    
    background: #080808;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    height: 60px;
}
ul{

    list-style: none;
}
a{
    text-decoration: none;

}
nav ul{
    display: flex;
}
nav ul li a{
    


    
    font-size: 15px;
    
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    color: white;
    margin:20px ;
    
    

}
.header-stories{
    margin-right: 50px;
}

.main-header-label{
    color: #fff;
    font-size: 35px;
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    margin-top: 20px;
    
    
    
    font-weight: 600;
    
    align-items: center;
    

}
.steps-label{
    display: flex;
    justify-content: flex-start;

}
.steps-label h3{
    color:#fff;
    font-size: 20px;
    margin-left:60px;
    margin-top: 25px;
    
}
.contact-us-button{
    height: 40px;
    width: 130px;
    background: #ec1f64;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left:60px;
    margin-top: 25px;
    
    
}

.contact-us-button a{
    font-size: 15px;
    
    font-weight: 700;
    color: #fff;

}
.description-section{
    background:white;
    
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.description-section .description{
    
    font-size: 15px;
    font-weight: 400;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    
    color: #777;

}
.description-section .description p{
    margin-bottom:15px;
}
.about-dhriti-section{
    background: white;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-dhriti-section .description{
    text-align: center;
}
.about-dhriti-section .description p{
    font-weight: 500px;
    margin-bottom: 7px;
}

.main-container{
    display: flex;
    height: 35vh;
    
    justify-content: center;
    
    align-items: center;
}
.main-container .box{
    display: flex;
    height: 100%;
    width: 10%;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.main-container .div-line-box{
    width: 10%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container .div-line-box .visible-line{
    width: 100%;
    color: #d1d9dd;
    border-width: 1px;
    margin-bottom: 20px;

}
.main-container .box>div{
    color: black;
    font-weight: bold;
    font-size: 20px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 2px solid #d1d9dd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container .box h3{
    margin-top: 10px;
}


/*fixed start*/
.main-container.fixed {
	background: white;
	position: sticky;
	z-index: 9;
	top: 0;
	display: flex;
	width: 100%;
	height: 15vh;
    justify-content: center;
    align-items: center;

	transition-property: height;
	transition-duration: .3s;
	box-shadow: 0 2px 5px 0 hsla(0,0%,82.7%,.5);
}

.main-container.fixed .box{
	background: white;
	height: 100%;
	width: 10%;
}

.main-container.fixed .box div{
	height: 30px;
	width: 30px;
	background: #edf0f1;
	border:none;
	font-weight: 400;
	font-size: 14px;

	transition-property: height,width,font-weight,font-size;
	transition-duration: .3s;

}

.main-container.fixed .box h3{
	font-size: 14px;
	font-weight: 400;
	color: #9fa6a9;
	transition-property: font-weight,font-size;
	transition-duration: .3s;

}


.main-container.fixed .div-line-box .visible-line{
	margin-bottom: 10px;
	width: 0%;
	
	transition-property: width;
	transition-duration: .3s;

}

.main-container .box div.active{
	color: #fff;
	background: #353738;
}
.main-container .box h3.heading-active{
	font-style: bold;
	font-weight: 900;
	color: #353738;
}

.main-container .div-line-box hr.line-active{
	color: #d1d9dd;
	width: 100%!important;
}

/*fixed end*/

.change-label{
    height:30vh;
    background: #ec1f64;
    display: flex;
    justify-content: center;
    align-items: center;
}
.change-label h1{
    color: white;
    font-size: 35px;
}

section#desc-2{
    height: 30vh;
}
.inspire-section{
    height: 500px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.inspire-section .inspire-box{
    background: #fff;
    height: 280px;
    border-style:solid;
    border-width: 2px;
    border-color: #dcdcdc;
    width: 204px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    
}

.inspire-section .inspire-box:hover{
    border-color:#ec1f64;
}
 .inspire-section .inspire-box h4{
     color:#ec1f64;
     font-size: 20px;
     margin-left: 10px;
 }   
    


.fa-graduation-cap{
    color: #dcdcdc;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 2.5em;
}
.fa-school{
    color: #dcdcdc;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 2.5em;
}
.inspire-section .inspire-box .p-box{
    width: 90%;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}
.inspire-section .inspire-box .p-box p{
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.read-btn{
    background: #fff;
    height: 12%;
    width: 40%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6%;
    ;
}

.read-btn p{
    font-size: 12px;
    color: #000;
    text-align: center
}

.anoop{
    height: 250vh;
}
@media screen and (max-width:510px){
    .top-section{
        background: red;
    }
    
    }
    
